# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Flask instance folder
instance/

# Local databases
*.db
*.sqlite3
*.sqlite

# Environment / secrets
.env
.env.*

# VS Code
.vscode/

# Logs
*.log

# OS files
Thumbs.db
.DS_Store